<!-- <p>footer works!</p> -->


<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 mt-5 mb-5">
                <h5 class="footer-heading">WOMEN FASHION</h5>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a class="nav-link footer-a" routerLink="">New Arrivals</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Tops</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Dresses</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Rompers & Jumpsuits</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Graphic Tees</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Hoodies Sweatshirts</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Shorts</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Bottoms</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Denim Jeans</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Sweaters & Cardigans</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Jackets & Outerwear</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Lingerie Lounge</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Activewear</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Plus Size</a></li>
                </ul>
            </div>
            <div class="col-lg-2 mt-5 mb-5">
                <h5 class="footer-heading">MEN FASHION</h5>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a class="nav-link footer-a" routerLink="">New Arrivals</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Graphic Tees</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Sweatshirts & Hoodies</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Denim Jeans</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Shirts</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Jackets</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Sweaters</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Shorts</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Swimwear</a></li>
                </ul>
            </div>
            <div class="col-lg-1 mt-5 mb-5">
                <h5 class="footer-heading">SHOES</h5>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a class="nav-link footer-a" routerLink="">Heels</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Sandals</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Sneakers</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Boots</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Booties</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Flats</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Slippers</a></li>
                </ul>
            </div>
            <div class="col-lg-2 mt-5 mb-5">
                <h5 class="footer-heading">BEAUTY</h5>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a class="nav-link footer-a" routerLink="">Beauty Essentials</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Nails</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Eye Patch</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Bubble Bath Salt</a></li>
                </ul>
                <h5 class="footer-heading">JEWELLERY</h5>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a class="nav-link footer-a" routerLink="">Bracelet</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Rings</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Necklace</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Earrings</a></li>
                </ul>
            </div>
            <div class="col-lg-2 mt-5 mb-5">
                <h5 class="footer-heading">
                    COMPANY INFO</h5>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a class="nav-link footer-a" routerLink="">About Us</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Blogs</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Find a Store</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Contact Us</a></li>
                </ul>
                <h5 class="footer-heading">HELP</h5>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a class="nav-link footer-a" routerLink="">Return Refund</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Terms of Service</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Necklace</a></li>
                    <li><a class="nav-link footer-a" routerLink="">Earrings</a></li>
                </ul>
                <h5 class="footer-heading">QUICK LINKS
                </h5>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a class="nav-link footer-a" routerLink="">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-lg-3 mt-5 mb-5">
                <h5 class="footer-heading mb-4">SUBSCRIBE</h5>
                <div class="footer-form">
                    <input type="text" class="form-control">
                    <button class="footer-btn form-control mt-2">SUBMIT</button>
                </div>
                <h5 class="footer-heading mt-4">FOLLOW US</h5>
                <div class="icon-footer mb-4">
                    <img src="https://img.icons8.com/color/36/undefined/facebook.png" /><img
                        src="https://img.icons8.com/fluency/36/undefined/instagram-new.png" />
                </div>
                <div class="email-footer">
                    <a href="mailto: f21care@sharafretail.com" class="link nav-link">Email: f21care@sharafretail.com</a>
                    <a href="tel:8003274466" class="link nav-link">Call: 8003274466</a>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="copyright">
    <div class="container pt-2 pb-1">
        <p>Forever21 ©️ All Rights Reserved</p>
    </div>
</section>