<section class="skinny mt-5">
    <h3 class="text-center">{{pName}}</h3>
    <div class="container">

        <div class="grid-container1 mt-5">
            <div class="grid-item1 topPic-store" *ngFor="let all of product" (click)="showAll(all)">
                <div class="topPic-img">
                    <img [src]="all.img">
                </div>
                <div class="topPic-para mt-2">
                    <p>{{all.para}}</p>
                    <h6 class="mb-5">AED {{all.price}} {{all.priceLess}}</h6>
                </div>

            </div>
        </div>
        <div class="topPic-more text-center mb-5">
            <button class="btn">SHOW MORE</button>
        </div>
    </div>
</section>