.card-image img{
    width: 100%;
    max-width: 100px;
    height: 150px;
}

.product-name{
    font-size: 14px;
    margin-top: 44px;
}

.form-control{
    width: 70px;
}

.main-details{
    border: 1px solid #a3a3a3;
    padding: 24px 0px 24px;
}

.cart-heading{
    font-size: 12px;
}

.cart-more  .btn{
    padding: 8px 69px;
    background-color: #fca8a6;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.cart-more  .btn:hover{
    background-color: #FFF;
    border: 1px solid #fca8a6;
    color: #000;
}

.cart-updated  .btn{
    padding: 8px 18px;
    background-color: #fca8a6;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.cart-updated  .btn:hover{
    background-color: #FFF;
    border: 1px solid #fca8a6;
    color: #000;
}


.shop-more  .btn{
    padding: 8px 75px;
    background-color: #FFF;
    color: #fca8a6;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #000;
}

.shop-more  .btn:hover{
    background-color: #fca8a6;
    border: 1px solid #fca8a6;
    color: #FFF;
}


.customer-store img{
    border-top: 10px solid #d37a76!important;
    border-left: 10px solid #d37a76!important;
    border-right: 10px solid #fca8a6!important;
    border-bottom: 10px solid #fca8a6!important;
    height: auto;
    max-height: 335px;
}

.customer-store {
    display: inline-block;
    width: 20%;
}



.customer-para h6{
    text-align: center;
    color: #6C471D;
}


.product-more .btn{
    padding: 8px 87px;
    background-color: #FDD7AA;
    color: #B7721E;
    font-weight: 500;
    font-size: 15px;
}

.product-more .btn:hover{
    background-color: #fca8a6;
    color: #fff;
}