<section class="payment">
    <div class="container payment-head mt-4 mb-4">
        <div class="heading mb-3">
            <h3>FOREVER21</h3>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <form class="shipping-form">
                    <div class="mb-3 mt-4">
                        <label for="exampleFormControlInput1" class="form-label">Billing Information</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Email Address">
                    </div>
                    <div class="mb-3">
                        <select class="form-control">
                            <option>Country/region</option>
                            <option>United Arab Emirates</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mt-3">
                            <input type="text" class="form-control" placeholder="First Name">
                        </div>
                        <div class="col-lg-6 mt-3">
                            <input type="text" class="form-control" placeholder="last Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mt-3">
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Address">
                        </div>
                        <div class="col-lg-6 mt-3">
                            <input type="number" class="form-control" placeholder="Pin Code">
                        </div>
                    </div>
                    <div class="mb-3 mt-3">
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Apartment, suite, etc (optional)">
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mt-3">
                            <input type="text" class="form-control" placeholder="city">
                        </div>
                        <div class="col-lg-6 mt-3">
                            <select class="form-control">
                                <option>Emirate</option>
                                <option value="Abu Dhabi">Abu Dhabi</option>
                                <option value="Ajman">Ajman</option>
                                <option value="Dubai">Dubai</option>
                                <option value="Fujairah">Fujairah</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 mt-3">
                        <input type="tel" class="form-control" placeholder="Phone">
                    </div>
                </form>

                <div class="make-cancel">
                    <a class="btn" routerLink="/stripes">Payment to Stripe</a>
                </div>
            </div>



            <div class="col-lg-4">
                <div class="order-details  mt-5">
                    <div class="h6">ORDER DETAILS</div>
                    <div class="row">
                        <div class="col-lg-4">
                            <p>Order #:</p>
                        </div>
                        <div class="col-lg-3"></div>
                        <div class="col-lg-5">
                            <p>2936007139561</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-5">
                            <p>Order Amount</p>
                        </div>
                        <div class="col-lg-3"></div>
                        <div class="col-lg-4">
                            <p>99.00</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-5">
                            <p>Total Amount</p>
                        </div>
                        <div class="col-lg-3"></div>
                        <div class="col-lg-4">
                            <h6>AED 99.00</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-5">
            <div class="col-lg-3">
                <img src="assets/payment/footer1.png" alt="">
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
                <div class="footer img">
                    <img src="assets/payment/footer2.png" alt=""><img src="assets/payment/footer3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>